/*
Author: Timothy Moxey
Date: 25-Feb-2021
File name: styles.css
*/

/* css reset */
body, header, nav, main, footer, h1, div, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* style rules for body and images */
body {
  background-color: rgb(27, 27, 27);
}

img {
  max-width: 100%;
  display: block;
  }

  /* style rules for header */
  header {
    color: cadetblue;
  }

  /* style rules for navigation area */
nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
list-style-type: none;
text-align: center;
}

nav li {
font-size: 1.5em;
font-family: 'Oxygen', sans-serif;
border-top: 1px solid white;
}

nav li:first-child {
  border-top:none;
}

nav li a {
display: block;
color:cadetblue;
text-align: center;
padding: 0.5em 1em;
text-decoration: none;
}

/* show mobile class, hide tablet desktop class*/
.mobile {
  display: block;
}
  .tablet-desktop {
    display: none;
  }

/* style rules for main content */
main {
color: cadetblue;
}

.tel-link {
  background-color: rgb(27, 27, 27);
  padding-left: 2%;
  margin: 0% auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.tel-link a {
  color:cadetblue;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  }

.map {
  border: 8px solid rgb(3, 195, 253);
}

/* style rules for footer content */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: cadetblue;
  padding: 0 1em;
  }
  
  footer p a {
  color: cadetblue;
  text-decoration: none;
  }