/* Author: Timothy Moxey Date: 25-Feb-2021 File name: styles.css */
/* css reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* style rules for body and images */
body {
  background-color: rgb(27, 27, 27);
}
img {
  max-width: 100%;
  display: block;
}
/*style rule for box sizing applies to all elements*/
* {
  box-sizing: border-box;
}
/*style rules for mobile veiwport*/
/* style rules for header */
header {
  top: 0;
  color: cadetblue;
}
/* style rules for navigation area */
nav {
  padding: 1%;
  margin-bottom: 1%;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  font-size: 1.5em;
  font-family: 'Oxygen', sans-serif;
  border-top: 1px solid white;
}
nav li:first-child {
  border-top:none;
}
nav li a {
  display: block;
  color:cadetblue;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}
nav li a:hover {
  color: rgb(27, 27, 27);
  background-color:cadetblue;
}
video {
  margin: 0 auto 4%;
}
/* show mobile class, hide tablet desktop class*/
.mobile {
  display: block;
}
.tablet-desktop {
  display: none;
}
/* style rules for main content */
main {
  color: cadetblue;
  padding: 2%;
  font-size: 1.15em;
  font-family: 'Roboto Slab', serif;
}
.mobile h3 {
  text-shadow: 5px 5px 5px #ccc;
}
article {
  padding: 2%;
}
article h3 {
  text-align: center;
}
article img {
  margin: 0 auto;
}
article ul {
  margin-left: 10%;
}
article:nth-last-of-type(2) {
  background-color: rgba(204, 204, 204, 0.3);
}
.tel-link {
  background-color: rgb(27, 27, 27);
  padding-left: 2%;
  margin: 0% auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}
.tel-link a {
  color:cadetblue;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
.map {
  border: 8px solid rgb(3, 195, 253);
  width: 95%;
  height: 95%;
}
.round {
  border-radius: 8px;
}
.pic-text {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.frame {
  position: relative;
  max-width: 450px;
  margin: 2% auto;
}
.grid {
  display: none;
}
#form {
  margin-top: 2%;
  background-color: black;
  padding: 2%;
}
#form h2 {
  text-align: center;
}
/* Style rules for form elemtents*/
fieldset, input, select, textarea {
  margin-bottom: 2%;
}
fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}
label {
  display: block;
  padding-top: 3%;
}
form #submit {
  margin: 0 auto;
  border: none;
  display: block;
  padding: 2%;
  background-color: #b3b3b3;
  font-size: 1em;
  border-radius: 10px;
}
/* style rules for footer content */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: cadetblue;
  padding: 0 1em;
}
footer p a {
  color: cadetblue;
  text-decoration: none;
}
/* Media Query for Tablet Viewport*/
@media screen and (min-width: 630px), print {
 /* Tablet Viewport: Show tablet-desktop class, hide mobile class*/
  .tablet-desktop {
      display: block;
 }
  .mobile {
      display: none;
 }
 /* Tablet Viewport: Style rule for header*/
 .header {
  padding-bottom: 2%;
}
 /* Tablet Viewport: Style rules for nav area*/
}
/* Tablet Viewport: Style rules for main content area*/
main ul {
  margin: 0 0 4% 10%;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.pic-text {
  font-size: 1em;
  padding: 10px;
}
aside {
  text-align: center;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  padding: 2%;
  background-color: rgba(204, 204, 204, 0.5);
  box-shadow: 5px 5px 8px #000;
  text-shadow: 5px 5px 5px #b3b3b3;
  border-radius: 0 15px;
}
.grid-item4 {
  grid-column: 1 / span 3;
}
table {
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100% 
}
caption{
  font-size: 1.5em;
  font-weight: bold;
  padding: 1%;
}
th, td{
  border: 1px solid #000;
  padding: 2%;
}
th{
  background-color:#000;
  color:cadetblue;
 ;
  font-size: 1.15em;
}
/* Tablet Viewport: Style rule for form element */
form {
  width: 70%;
  margin: 0 auto;
}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 1051px), print {
 /* Desktop viewport: Style rule for header*/
 /* Desktop Viewport: Style rules for nav area */
 /* Desktop Viewport: Style rules for main content */
 main {
  clear: left;
}
main h1 {
  font-size: 1.8em;
}
article h3 {
font-size: 1.75em;
}
.pic-text {
font-size: 1.5em;
padding: 20px;
}
.frame {
opacity: 0.9;
}
.frame:hover {
opacity: 1;
box-shadow: 8px 8px 10px;
}
/* Desktop Viewport: Style rules for form elements*/
form {
  width: auto;
}
.form-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.btn {
  grid-column: 1 / span 3;
}
}
/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
  #container {
      width: 1920px;
      margin: 0 auto;
 }
}
table {
  width: 80%;
}
/* Media Query for Print */
@media print {
  body {
      background-color: #fff;
      color: #000;
 }
}
