/*
Author: Timothy Moxey
Date: 25-Feb-2021
File name: styles.css
*/

/* css reset */
body, header, nav, main, footer, h1, div, img {
  margin: 0;
  padding: 0;
  border: 0;
}
/* style rules for body and images */

img {
  max-width: 100%;
  display: block;
  }
